$whiteColor: #FFFFFF;
$primary: #116ACC;
$secondary1: #182233;
$secondary2: #B3CEE2;
$secondary3: #D9DDE7;
$secondary4: #FD4E5D;
$blackColor: #000000;
$errorColor: #EB5757;
$warningColor:#E2B93B;
$successColor:#27AE60;
$grey:#9CA3AF;